.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    color: #fff;
    font-size: 1.6rem;

    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .15);

    &--front {
      background-color: orangered;
    }

    &--back {
      // background-color: green;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }

  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}